@model A_Simple_Hr_Management_System.Models.Shift

<form asp-action="Create" id="createShiftForm">
    <input type="hidden" asp-for="ComId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="ShiftName" class="control-label"></label>
        <input asp-for="ShiftName" class="form-control" />
        <span asp-validation-for="ShiftName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="In" class="control-label"></label>
        <input asp-for="In" class="form-control" />
        <span asp-validation-for="In" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Out" class="control-label"></label>
        <input asp-for="Out" class="form-control" />
        <span asp-validation-for="Out" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Late" class="control-label"></label>
        <input asp-for="Late" class="form-control" />
        <span asp-validation-for="Late" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>